<h1>Create A New Post</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "Name Of Item" %>
  <%= f.text_field :link, placeholder: "Description" %>
  <!-- must have code in the model to accept attributes below for a new bid -->
  <!-- Accepts nested attributes - see Auction Model -->
  <%#= f.fields_for :bids, @auction.bids.build do |b| %> 
  <!-- .build and .new are the same / use either -->
  <!-- use |b| for following because its nested into the f form -->
  <%#= b.text_field :amount, placeholder: "Starting Bid" %>
  <%# end %>
  <%= f.submit %>

<% end %>